body {
    font-family: Arial, Helvetica, sans-serif;
}

.list-header > h2 {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.list-body{
    padding: 20px;
    margin-left: 32px;
    clear: both;
}
.hotel-item{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 3px;
    border:2px solid #dcdcdc;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
    clear: both;
}

.item-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    
}

.item-description {
font-size: 16px;
width: 200px;
}

.item-number{
    font-size: 20px;
    font-weight: bold;
    width: 200px;
}
.item-star{
    width: 200px;
}